html {
	margin: 0;
	padding: 0;
	background-color: #ffcf5e;
	font-size: 17px;
	line-height: 1.4em;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}

body > * {
	max-width: 520px;
}

h1, h2 {
	font-family: sans-serif;
	line-height: 1.25em;
}

p {
	margin-top: 0;
	margin-bottom: 1.45em;
}

.portrait {
	display: block;
	width: 100%;
	max-width: none;
	margin-top: 3em;
}
